*{
    margin:0;
    padding: 0;
}
body{
    text-align: center;
}
header{
    padding: 30px;
    background-color: black;
    color: white;
    font-size: 30px;
}
nav{
    margin-top:3px;
    padding: 20px;
    background-color: blue;
    color: white;
}
section{
    margin:10px;
    overflow:hidden;
    background-color: gray;
}
.main{
    background-color: black;
    margin:5px;
    color: white;
    padding: 120px;
}
.gird{
    margin:5px;
    background-color:aqua;
}
.column1{
    margin-top:20px;
    background-color:white;
    height:200px;
    width:30%;
    display: inline-block;
    padding:10px;
    margin:5px;
}
footer{
    margin-top:10px;
    padding: 20px;
    background-color: orange;
    color: white;
}