.c1{
    text-align: center;
    color: blue;
    height: 40px;
    width: 100%;
    background-color:lemonchiffon;
    padding:50px;
}
.task{
    height: 100px;
    position:sticky;
    top: 0px;
    width:100%;
    background-color:firebrick;
    padding: 5px;
.li{
    display:inline-block;
    padding:3px;
    list-style: none;
    line-height: 20px;
}
.c3{
    background-color: khaki;
}
.footer{
    background-color: aqua;
    width:10px;
    height: 100px;
}
