li{
    display: inline-block;
    padding: 5px;
    margin: 10px;
}
ul{
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
}
a{
    color: white;
    text-decoration: none;
}
h2{
    font-size:30px;
}
p{
    font: size 20px;
    text-align: justify;
}