.main{
    width: 1200px;
    
}
.child{
    border:1px solid black;
    background-color: lightblue;
    height: 100%;
    width:7.75%;
    display: inline-block;
    border-top: none;
    border-bottom: none;
    
