nav{
    background-color: black;
    width:100%;
    padding-top: 48px;
    padding-bottom: 49px;
}
nav li{
    display: inline-block;
    padding-right:54px;
}
nav ul{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size:27px;
}
.head{
    height: 209px;
    background-color: white;
    display:table;
    width: 100%;
}
.main img{
    margin-left: 75px;
    width:218px;
    height:146px;
    padding-top:26px;
    padding-bottom:36px;
}
.main{
    display:table-cell;
}
.main1{
    display:table-cell;
    padding-top:75px;
    font-size:26px;
    vertical-align: middle;
    text-align: right;
}
.head1{
    width: 60%;
}
.head1 .sub1{
    display: inline-block;
    width: 20%;
}
.sec1{
    display: inline-block;
    margin-left: 34px;
    width:26.75%
}
.sec1 img{
    border:1px solid black;
    padding:12px 16px;
    width: 100%;
}
.sec1 h2{
    padding-top:72px;
}
.sec1 p{
    width:375px;
    height: 175px;
    font-size:23px;
    line-height:35px;
    vertical-align: top;
    margin-bottom: 14px;
}
.sec1 b{
    font-size: 29px;
    line-height:44px ;
    vertical-align: top;
    color: #6D9D34;
}
.sec2{
    display: inline-block;
    width:26.75%;
    margin-left: 77px;
}
.sec2 img{
    border:1px solid black;
    padding:12px 16px;
    width: 100%;
}
.sec2 h2{
    padding-top:72px;
}
.sec2 p{
    width:378px;
    height: 175px;
    font-size:23px;
    margin-bottom: 14px;
}
.sec2 b{
    font-size: 29px;
    line-height:44px ;
    vertical-align: top;
    color: #6D9D34;
}
.sec3{
    display: inline-block;
    width:26.75%;
    margin-left:77px;
}
.sec3 img{
    border:1px solid black;
    padding:12px 16px;
    width: 100%;
}
.sec3 h2{
    padding-top:72px;
}
.sec3 p{
    width:375px;
    height: 175px;
    font-size:23px;
    line-height:35px;
    vertical-align: top;
    margin-bottom: 14px;
}
.sec3 b{
    font-size: 29px;
    line-height:44px ;
    vertical-align: top;
    color: #6D9D34;
}
.sub1{
    display: inline-block;
    margin-top: 110px;
    margin-left: 53px;
    margin-bottom: 134px;
}
.head2{
    margin-left: 34px;
    width:646px;
    display: inline-block;
 
    vertical-align: top;

}
.head2 h2{
    margin-bottom:16px;
}
.sub2 img{
    margin-top: 72px;
    border:1px solid black;
    padding: 17px 20px;
    display: inline-block;
}
.para{
    display: inline-block;
    width:378px;
    height: 106px;
    vertical-align:top;
    margin-top: 60px;
    padding-left:20px;
}
.head2 hr{
    padding: 0;
    margin: 0;
}
.head2 .para1{
    margin: 0;
    padding-top: 0;
    padding-bottom:23px;
}
.head2 .para2{
    padding-bottom: 5px;
}
.lastpara{
    margin: left 48px;
    padding-top: 42px;
    width: 640px;
}
.head3 h2{
    margin-left: 80px;
    margin-top:64px;
}
.head3{
    display: inline-block;
   

}
.sub-a1 img{
    border: 1px solid black;
    padding:15px 19px;
    display: inline-block;
    margin-top: 30px;
}
.paragra{
    display: inline-block;
    vertical-align: top;
}
.sub-a1 .p2{
    width: 309px;
    height: 102px;
    padding-bottom: 17px;
}
.sub-a1 .p3{
    color: #6D9D34;
    margin-left:121px;
}
.paragra{
    padding-top:30px ;
    margin-left:26px;
}
.sub-a2 img{
    border: 1px solid black;
    padding:15px 19px;
    display: inline-block;
    margin-top: 30px;
}
.paragra1{
    display: inline-block;
    vertical-align: top;
    margin-left: 26px;
    padding-top: 72px;
}
.paragra1 .p1{
    width: 309px;
    height: 102px;
    padding-bottom: 17px;
}
.paragra1 .p2{
    color: #6D9D34;
    margin-left:121px;
}
.sub-a3 img{
    border: 1px solid black;
    padding:15px 19px;
    display: inline-block;
    margin-top: 30px;
}
.paragra2{
    display: inline-block;
    vertical-align: top;
}
.sub-a3 .p2{
    width: 309px;
    height: 102px;
    padding-bottom: 17px;
}
.sub-a3 .p3{
    color: #6D9D34;
    margin-left:121px;
}
.paragra2{
    padding-top:30px ;
    margin-left:26px;
}



