body{
}
nav{
    background-color: black;
    width:100%;
    padding-top: 48px;
    padding-bottom: 49px;
}
nav li{
    display: inline-block;
    padding-right:54px;
}
nav ul{
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
    font-size:27px;
}
.main img{
    margin-left: 75px;
    width:218px;
    height:146px;
    clear:both;
}
.main1 {
    float:right;
    clear:both;
}


